@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Jaro:opsz@6..72&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Protest+Revolution&display=swap');

body {
    
    background-color: gray;
    background-image: url(../img/wal.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed ;
    background-size: cover;
    }




h3{
    background-color: aquamarine;
    opacity: 0.7;
    font-family: "PT Serif", serif;
    font-size:2.5vh ;
    font-style: normal;
}

.sub {
    background-color: aquamarine;
    opacity: 0.8;
    display: flex;

justify-content: center;
    font-family: "Ga Maamli", serif;
    font-size:5vh ;
    font-style: normal; 
}

.titulo{
    background-color: aquamarine;

display: flex;

justify-content: center;

    font-family: "Ga Maamli", serif;
    font-size:7.5vh ;
    font-style: normal; 

}


h2{


font-size:5vh ;

}

.info{


    background-color: aquamarine;
    opacity: 0.7; 
}
